Repository pengfluf/martians-auth: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, lint-styles

lint-js:
  run: pnpm lint:js {staged_files}

lint-styles:
  run: pnpm lint:styles {staged_files}

ThemeSwitcher, SvgSprite
  index.html
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/assets/logo.svg
  src/assets/spinner.svg
  src/assets/svg/logo.svg
  src/assets/svg/moon.svg
  src/assets/svg/spinner.svg
  src/assets/svg/sun.svg
  src/components/App/App.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/SvgSprite/SvgSprite.tsx
  src/components/SvgSprite/index.ts
  src/components/ThemeSwitcher/ThemeSwitcher.module.css
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ThemeSwitcher/index.ts
  src/components/index.ts
  src/pages/SignIn/SignIn.tsx
  src/pages/SignIn/components/SecondaryActions.module.css
  src/styles/colors.css
  src/styles/global.css
  src/test/mocks/svgComponentMock.js
  src/test/setup.ts
  src/vite-env.d.ts
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
  vite.config.ts
Due: lint-js, lint-styles

ThemeSwitcher refactor, ThemeContext, Github Link
  eslint.config.js
  src/assets/svg/github.svg
  src/components/App/App.tsx
  src/components/ExternalLink/ExternalLink.tsx
  src/components/ExternalLink/index.ts
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/SvgSprite/SvgSprite.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ThemeSwitcher/utils/getOppositeTheme.ts
  src/components/ThemeSwitcher/utils/getPreferredTheme.ts
  src/components/ThemeSwitcher/utils/index.ts
  src/components/ThemeSwitcher/utils/updateRootElementClassName.ts
  src/components/ThemeSwitcher/utils/updateWithTheme.ts
  src/components/ThemeSwitcher/utils/useClassNames.ts
  src/components/ThemeSwitcher/utils/useSwitchTheme.ts
  src/components/ThemeSwitcher/utils/useUpdateWithTheme.ts
  src/components/index.ts
  src/constants/index.ts
  src/context/ThemeContext.tsx
  src/store/actions.ts
  src/store/index.ts
  src/store/types.ts
  src/types/index.ts
  src/utils/context/index.ts
  src/utils/context/useThemeContext.ts
  tsconfig.app.json
  vite.config.ts
Due: lint-js, lint-styles

Github Link Highlight
  src/components/Header/Header.module.css
  src/styles/global.css
Due: lint-styles

Docs Images
  README.md
  docs/dark.png
  docs/light.png
Due: none

Readme Fix
  README.md
Due: none

Build Info Update
  tsconfig.app.tsbuildinfo
Due: none

Autocomplete, Native Email Validation, Lint and Format Scripts, Initial Fields Attrs
  package.json
  src/components/Field/Field.tsx
  src/constants/index.ts
  src/store/types.ts
  src/utils/getFieldErrorMessage/getEmailErrorMessage.ts
  src/utils/getFieldErrorMessage/index.ts
  src/utils/getInitialFields.ts
Due: lint-js

Remove Redundant Aria Required
  src/components/Field/Field.tsx
  tsconfig.app.tsbuildinfo
Due: lint-js

Theme Auto Switch On Change
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ThemeSwitcher/utils/getPreferredTheme.ts
  src/components/ThemeSwitcher/utils/useUpdateWithTheme.ts
  src/constants/index.ts
  src/context/ThemeContext.tsx
Due: lint-js

Path conditions:
  lint-js: any of: *.{ts,tsx}
  lint-styles: any of: *.css
